@use "./variables" as vars;
@use "./mixins";

.category-container {
  padding: 31px;
  width: 298px;
  height: 451.8px;
  border: 1px solid vars.$border-color;

  h2 {
    color: vars.$primary-font-color;
    margin-bottom: 20.8px;
  }

  hr {
    border: 1px solid vars.$hr-color;
  }

  .category-item {
    padding: 10px 19px;
    border: 1px solid #f2f3f4;
    margin-bottom: 15px;

    &_number {
      background-color: vars.$hr-color;
      height: 24px;
      width: 24px;
    }

    p {
      color: vars.$primary-font-color;
    }
  }
}

.products {
  height: 100%;
}
.icon-size {
  width: 18px;
}

.products .category-item {
  border: none;
  border-bottom: 1px dotted vars.$hr-color;
}

.products .category-item:last-child {
  border: none;
}

.products .category-item h3 {
  @include mixins.fontController(20px, bold, 24px);
  color: vars.$primary-color;
}

.products .category-item p {
  @include mixins.fontController(16px, 400, 24px);
  color: vars.$grey-font-color;
}

.category-img-size {
  width: 80px;
}
@media (max-width: 1600px) {
  .products .category-item h3 {
    font-size: 18px;
  }
}
