$light-color: #ffffff;
$primary-color: #3bb77e;
$primary-color-light: #def9ec;

$hr-color: #bce3c9;
$border-color: #ececec;

// font colors
$grey-font-color: #7e7e7e;
$placeholder-color: #838383;
$primary-font-color: #253d4e;

// padge colors
$hot-color: #f74b81;
$sale-color: #67bcee;
$discount-color: #f59758;

// font size
$font-size-14: 14px;
